# Database Configuration
POSTGRES_USER=fleet_admin
POSTGRES_PASSWORD=supersecretpassword
POSTGRES_DB=fleet_history
POSTGRES_PORT=5433
POSTGRES_HOST=postgres

# Message Broker Configuration
KAFKA_BROKER=kafka:29092

# Cache Configuration
REDIS_HOST=redis:6379

# Service URLs
FRONTEND_URL=http://localhost:4200
HISTORICAL_SERVICE_URL=http://historical-api:80
INGESTION_SERVICE_URL=http://ingestion-api:80
STATE_SERVICE_URL=http://state-api:80
