# Database Configuration
POSTGRES_USER=fleet_admin
POSTGRES_PASSWORD=supersecretpassword
POSTGRES_DB=fleet_history
POSTGRES_PORT=5433
POSTGRES_HOST=localhost

# Message Broker Configuration
KAFKA_BROKER=localhost:9092

# Cache Configuration
REDIS_HOST=localhost:6379

# Service URLs
FRONTEND_URL=http://localhost:4200
HISTORICAL_SERVICE_URL=http://localhost:5200
INGESTION_SERVICE_URL=http://localhost:5195
STATE_SERVICE_URL=http://localhost:5196
